{% extends 'base.html' %}
{% block title %}
Shorten It!
{% endblock %}

{% block content %}
		<div class="text-center"> 
			<h1>Shorten It!</h1>
			
		 	{% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message|safe }}
                  </div>
                {% endfor %}
             {% endif %}

			<div>
				<form method="POST" action=".">
				    {% csrf_token %}
					 {{form.as_p}}
					<input class="btn btn-primary" type="submit" name="submit" value="Shorten url">
				</form>
		  	</div>	
		
		</div>

{% endblock %}